.discover-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  align-items: center;
  padding-top: 8.125rem;

  .left-section {
    text-align: center;
    background-image: url("../images/airhostess-background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    img {
      width: 100%;
      max-width: 18.5627rem;
      margin: 0 auto;
    }
  }

  .right-section {
    color: $darkGreen;

    .text {
      width: 27.563rem;
    }

    h2 {
      font-size: clamp(1rem, 5vw, 4rem);
      font-family: $playfair;
    }
    .sub-heading {
      font-size: 1.5rem;
      padding: 2rem 0;
    }
  }
}
